README.md
docs
{{ if ne .chezmoi.os "windows" -}}
Documents
{{ else -}}
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/id_ed25519
.ssh/id_ed25519.pub
{{ end -}}
{{ if not (or (eq .purpose "personal") (eq .purpose "consulting")) -}}
.ssh/personal_id_rsa
.ssh/personal_id_rsa.pub
{{ end -}}
{{ if not (has "work" .tags) -}}
.ssh/work_id_rsa
.ssh/work_id_rsa.pub
.ssh/work_id_ed25519
.ssh/work_id_ed25519.pub
{{ end -}}
{{ if eq .purpose "work" -}}
CLAUDE.md
{{ end -}}
{{ if not (or (eq .purpose "personal") (eq .purpose "consulting")) -}}
.gitconfig-rezzell
.gitconfig-solarmicrobe
{{ end -}}
{{ if ne .purpose "work" -}}
.gitconfig-prepass
{{ end -}}
