README.md
{{ if ne .chezmoi.os "windows" -}}
Documents
{{ else -}}
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/id_ed25519
.ssh/id_ed25519.pub
{{ end -}}
{{ if not (has "personal" .tags) -}}
.ssh/russell_id_rsa
.ssh/russell_id_rsa.pub
{{ end  -}}
{{ if not (has "work" .tags) -}}
.ssh/work_id_rsa
.ssh/work_id_rsa.pub
.ssh/work_id_ed25519
.ssh/work_id_ed25519.pub
{{ end -}}
