{{ if eq .chezmoi.os "linux" -}}
brew "zsh"
{{ end -}}
{{ if has "hackintosh" .tags -}}
cask "hackintool"
brew "sleepwatcher", restart_service: :changed
{{ end -}}
{{ if has "personal" .tags -}}
cask "steam"
{{ end -}}
brew "antigen"
brew "git"
brew "htop"
brew "pv"
brew "jq"
cask "1password-cli"
cask "blueutil"
{{ if or (has "desktop" .tags) (has "laptop" .tags) -}}
cask "jetbrains-toolbox"
cask "1password"
cask "google-chrome"
cask "atom"
cask "spectacle"
cask "caffeine"
{{ end -}}
