tap "noobaa/noobaa"
tap "planetscale/tap"
tap "derailed/k9s"
{{ if eq .chezmoi.os "linux" -}}
brew "zsh"
{{ end -}}
{{ if has "hackintosh" .tags -}}
cask "hackintool"
brew "sleepwatcher", restart_service: :changed
{{ end -}}
{{ if has "personal" .tags -}}
cask "steam"
cask "google-chrome"
{{ end -}}
brew "antigen"
brew "git"
brew "htop"
brew "pv"
brew "jq"
brew "mas"
brew "noobaa"
brew "podman"
cask "podman-desktop"
brew "kubernetes-cli"
brew "openshift-cli"
brew "k9s"
brew "dive"
brew "mysql"
brew "vitess"
cask "1password-cli"
cask "bluetility"
{{ if or (has "desktop" .tags) (has "laptop" .tags) -}}
cask "jetbrains-toolbox"
cask "1password"
cask "spectacle"
cask "caffeine"
brew "podman"
{{ end -}}
