brew "chezmoi"
# Brew/Bundle requirements
{{- if or (eq .chassisType "desktop") (eq .chassisType "laptop") }}
brew "mas"
{{- end }}

# Developer tools
{{- if has "developer" .tags }}
tap "microsoft/mssql-release", "https://github.com/Microsoft/homebrew-mssql-release"
tap "planetscale/tap"
brew "mssql-tools"
brew "mysql"
brew "nvm"
brew "pscale"
brew "terraform"
brew "vitess"
{{- if or (eq .chassisType "desktop") (eq .chassisType "laptop") }}
cask "beyond-compare"
cask "devtoys"
cask "dbeaver-community"
cask "morgen"
cask "sourcetree"
cask "visual-studio-code"
cask "warp"
#mas "AmorphousDiskMark", id: 1168254295
{{- end }}
{{- end }}

# Hackintosh only recipies
{{- if has "hackintosh" .tags }}
brew "python"
brew "python-tk"
cask "hackintool"
{{- else }}
# This is not a Hackintosh
{{- end }}

# Personal only recepies
{{- if or (eq .purpose "personal") (eq .purpose "consulting") }}
tap "noobaa/noobaa"
brew "libvirt", restart_service: :changed
brew "noobaa"
cask "codex"
cask "codex-app"
{{- else }}
# This is not a personal machine
{{- end }}

# GUI only recepies
{{- if or (eq .chassisType "desktop") (eq .chassisType "laptop") }}
brew "diskonaut"
{{- if has "container-tools" .tags }}
brew "dive"
{{- end }}
brew "sleepwatcher", restart_service: :changed
brew "terminal-notifier"
cask "1password"
cask "1password-cli"
cask "bluetility"
cask "caffeine"
cask "google-chrome"
cask "cyberduck"
cask "expandrive"
cask "git-credential-manager"
cask "notion"
{{- if has "container-tools" .tags }}
cask "orbstack"
{{- end }}
cask "rectangle"
mas "Clocker", id: 1056643111
mas "Slack", id: 803453959
{{- end }}


# Work only recepies
{{- if or (eq .purpose "work" ) (eq .purpose "consulting" ) }}

cask "claude"
cask "claude-code"
cask "dotnet-sdk@9"
cask "manictime"
brew "redocly-cli"
{{- end }}

# Installed by tag
{{- if has "azure" .tags }}
brew "azure-cli"
{{- end }}
{{- if has "aws" .tags }}
brew "awscli"
{{- end }}
{{- if has "container-tools" .tags }}
brew "podman"
{{- end }}
{{- if has "kubernetes" .tags }}
tap "derailed/k9s"
brew "argocd"
brew "k3d"
brew "k9s"
brew "krew"
brew "kubernetes-cli"
brew "openshift-cli"
brew "helm"
brew "tektoncd-cli"
{{- end }}

# Email client
{{- if eq .emailClient "outlook" }}
mas "microsoft-outlook", id: 985367838
{{- else if and (eq .chezmoi.os "darwin") (eq .emailClient "mail") }}
# Using Mail
{{- else if eq .emailClient "unmanaged" }}
# Mail client is unmanaged
{{- else }}
# Incorrect emailClient setting "{{ .emailClient }}"
{{- end }}

# Installed on all dimensions
brew "antigen"
brew "antidote"
brew "direnv"
brew "git"
brew "ghq"
brew "htop"
brew "jq"
brew "pygments"
brew "pstree"
brew "pv"
brew "the_silver_searcher"
brew "watch"
brew "yq"
