[init]
	defaultBranch = master
[user]
	name = {{ .name }}
	email = {{ .email }}
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
