[init]
    defaultBranch = main
[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
	excludesfile = /Users/{{ .username }}/.gitignore_global
{{- if eq .purpose "work" }}
    sshCommand = "ssh -i ~/.ssh/prepass_id_ed25519 -o IdentitiesOnly=yes"
{{ end -}}
[includeIf "gitdir:~/.local/share/chezmoi/"]
    path = ~/.gitconfig-chezmoi
{{ if or (eq .purpose "personal") (eq .purpose "consulting") -}}
[includeIf "gitdir:~/src/solarmicrobe/"]
    path = ~/.gitconfig-solarmicrobe
[includeIf "gitdir:~/src/rezzell/"]
    path = ~/.gitconfig-rezzell
[includeIf "gitdir:~/src/bitbucket.org/microbial/"]
    path = ~/.gitconfig-microbial
{{ end -}}
{{ if eq .purpose "work" -}}
 [includeIf "gitdir:~/Documents/promotion/"]
     path = ~/.gitconfig-prepass
{{ end -}}
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
    tool = bc
[credential]
    helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
    useHttpPath = true
[credential "https://git-codecommit.us-west-2.amazonaws.com"]
	provider = generic
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[commit]
	template = /Users/{{ .username }}/.stCommitMsg
[difftool "bc"]
    trustExitCode = true
[ghq]
    root = /Users/{{ .username }}/src/
    ignoreHost = true
