[init]
        defaultBranch = master
[user]
        name = {{ .name }}
        email = {{ .email }}
[core]
        excludesfile = /Users/russellparks/.gitignore_global
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "sourcetree"]
        cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
[diff]
        tool = bc
[credential]
        helper = 
        helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
        useHttpPath = true
[credential "https://git-codecommit.us-west-2.amazonaws.com"]
	provider = generic
