[user]
    name = {{ onepasswordRead "op://3fgxzhvd2wicuyug46en366shq/m6uyxfpypbhp3maivogr5tumre/Identification/username" }}
    email = {{ onepasswordRead "op://3fgxzhvd2wicuyug46en366shq/m6uyxfpypbhp3maivogr5tumre/Identification/email" }}
[core]
    sshCommand = "ssh -i ~/.ssh/russell_id_rsa -o IdentitiesOnly=yes"
