[user]
    name = {{ onepasswordRead "op://g5a3dcktd4jroem66oa5ojb7t4/zeoufdyjglnx22girovkblickm/Identification/first name" }} {{ onepasswordRead "op://g5a3dcktd4jroem66oa5ojb7t4/zeoufdyjglnx22girovkblickm/Identification/last name" }}
    email = {{ onepasswordRead "op://g5a3dcktd4jroem66oa5ojb7t4/zeoufdyjglnx22girovkblickm/Identification/email" }}
[core]
    sshCommand = "ssh -i ~/.ssh/russell-parks-github -o IdentitiesOnly=yes"
