#!/usr/bin/env sh

{{ if eq .chezmoi.os "darwin" }}
# Brewfile hash: {{ includeTemplate "Brewfile.tmpl" . | sha256sum }}
brew bundle --file={{ joinPath .chezmoi.homeDir "Brewfile" | quote }}
{{ end }}
